*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sky {
    width: 100%;
    background-color: rgb(23, 192, 239);
    height:300px;
    }
.grass {
    margin-top: -120px;
    background-color: rgb(13, 234, 76);
    height:290px;
    }
.lights {
   margin: -350px auto 80px;
   background-color: rgb(2, 24, 41);
   width: 80px;
   height: 160px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   border-radius: 10px;
   transform: skewY(-5deg) rotateY(10deg); 
}

.light {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    margin: 0 auto;
    align-items: center;
    font-family: sans-serif;
    background-color: rgb(92, 91, 91);   
    box-shadow: 0px 0px 10px rgb(50, 50, 50) ; 
    
    }
    .red {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: red;
        animation-name: stop;
        animation-duration: 2s;
        }
        @keyframes stop {
            0%{
                background-color: rgb(92, 91, 91);
            }
            32% {
                background-color: rgb(92, 91, 91);
            }
            30% {
                background-color: red;
            }
        }
     .green {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: rgb(27, 139, 27);
        animation: go 5s linear;
    }
         @keyframes go {
            from{
                background-color: rgb(92, 91, 91);
                
            }
            to{
                background-color: rgb(92, 91, 91);
            }
            
         }
 
.road {
    width: 100%;
    background-color: grey;
    height:200px;
    margin-top: 60px;
    position: relative;
    transform: skewY(-4deg) rotateY(6deg)

}
.line {
    border: 7px dashed white;
    position: absolute;
    width: 100%;
    height: 0px;
    top: 88px;
    bottom: 63px;
}
.cats {
    /* margin-top: -20px; */
    position: absolute;
    animation: mochipeach 10s linear forwards;
    z-index: 1;
    bottom: 200px;
   
}
@keyframes mochipeach {
    from {right:  0;}
    to {right: 90%;}
    }
.border {
    width: 300px;
    height: 200px;
    margin: 5px auto;
    /* transform: rotate3d(80deg);
    transform: rotateZ(70deg); */
    position: absolute;
    top: 200px;
    right: 720px;
 
}
